<header>
    <h2>{{user.name}}</h2>
</header>

<article>
    <p>Password: {{this.password}}</p>
    <p>Gender: {{this.gender}}</p>
    <p>Search History: {{this.history}}</p>

    <button class = "logout">
        <a href="/logout">Logout.</a>
    </button>
</article>