<section>
<header>
    <h2>{{username}}</h2>
</header>

<article>
    <p>Password: {{password}}</p>
    <p>Gender: {{gender}}</p>
    <p>Search History: {{history}}</p>

    <button class = "logout">
        <a href="/logout">Logout.</a>
    </button>
</article>

</section>