<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>registeration page</title>
    <link rel="stylesheet" href="" />
</head>
<body>
    <form action="" method="get">
        <table>
            <tr>
                <td>Username: </td>
                <td>
                    <input type="text" name="user" value=""/>
                </td>
            </tr>
            <tr>
                <td>Password: </td>
                <td>
                    <input type="password" name="pw" value="" />
                </td>
            </tr>
            <tr>
                <td>Comfirm Password: </td>
                <td>
                    <input type="password" name="pw" value="" />
                </td>
            </tr>
            <tr>
                <td>Gender: </td>
                <td>
                    <input type="radio" name="sex" id="gender1" value="1" />
                    <label for="gender1">male</label>
                    <input type="radio" name="sex" id="gender2" value="0" />
                    <label for="gender2">female</label>
                </td>
            </tr>
            <tr>
                <td>Continent Interested in: </td>
                <td>
                    <select name="continent">
                        <option value="1">Asia</option>
                        <option value="2">Europe</option>
                        <option value="3">North America</option>
                        <option value="4">South America</option>
                        <option value="5">Africa</option>
                        <option value="6">Antartica</option>
                        <option value="7">Oceania</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" value="register" />
                    <input type="reset" value="reset" />
                </td>
            </tr>
        </table>
    </form>
</body>
</html>